html
  head
    title= title
  body
    h1 Messages
    table
      thead
        tr
          th id
          th counter
      tbody
        each doc in docs
          tr
            td= doc._id
            td= doc.counter